/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

PM> Install-Package bootstrap-Version 4.1.1

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");


/*
 * Richtlinien f�r die Seitenregelung
 */

div {
	height: 90vh;
	width: 90vw;
}

body {
	font-family: "Lato", sans-serif;
}

html, body {
	height: 100%;
}

body>div {
	width: 90%;
	height: 100%;
}

body>div>div {
	width: 100%;
}

/** Beginn des Headers */
#top {
	cursor: default;
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	justify-content: space-between;
	padding-right: 30px;
	box-sizing: border-box;
	background: #999 url('/images/3.png') no-repeat left 50%;
	background-size: cover;
	color: white;
}

#nutzermenu {
	display: flex;
	width: 30%;
	justify-content: flex-end;
}

#nutzermenu .gwt-HTML {
	padding: 20px 0px;
}

#nutzermenu p {
	width: 100%;
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}

#nutzermenu p a {
	margin-left: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #666;
	border-left: 1px solid #666;
}

h1 {
	font-weight: 400;
	font-size: 20px;
	width: 33%;
	background: url(/images/sontact2.png) no-repeat left 80%;
	background-size: contain;
	margin-left: 20px;
	color: white;
	font: 'Gotham';
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 7px;
	height: auto;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
}

h1 a {
	display: block;
	color: rgba(255, 255, 255, 0.0);
	padding: 20px 0px 20px 30px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#header {
	color: white;
	letter-spacing: 10px;
	text-align: left;
	float: left;
	padding-top: 10px;
	padding-bottom: 20px;
}

.box {
	float: left;
	width: 30%;
	margin-right: 3.33333%;
	padding: 20px;
	background: #eee;
	box-sizing: border-box;
}

/** Beginn des Contents */
#content {
	width: 77%;
	min-height: 550px;
	float: right;
	padding-left: 100px;
	padding-top: 20px;
}

#contentHeader {
	font: 'Gotham';
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 4px;
	display: flex;
	align-items: left;
	justify-content: left;
	padding-bottom: 30px;
}

/** Beginn des Navigators */
#navigator {
	float: left;
	background: #999 url('/images/3.png') no-repeat;
	background-size: cover;
	color: white;
}

/** Beginn des Footers */
#footer {
	padding: 10px 0px;
	text-align: center;
	color: #777;
	font-size: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #999
		url('http://mindchamps-medical.com/wp-content/uploads/2015/04/Abstract-Background-White.jpg')
		no-repeat left 50%;
}

#footer .gwt-HTML {
	margin: 0px 5px;
}

#footer a {
	color: #1c9cd8;
	text-decoration: none;
}

/* Beginn des Logins */ 
/* .login { */
/*     top: 0px; */
/*     left: 0px; */
/*     bottom: 0px; */
/*     right: 0px; */
/*     position: absolute; */
/*     background: rgba(200,200,200,.8) url('https://st2.depositphotos.com/3008028/5542/i/950/depositphotos_55423195-stock-photo-light-grey-background.jpg'); */
/*     display: block; */
/*     padding: 200px 30% 0px 30%; */
/* } */

/* .login tbody { */
/*     background: #fff; */
/*     padding: 40px; */
/*     display: block; */
/*     box-shadow: 0px 0px 8px #999; */
/* } */

/* .login h1 { */
/* 	padding: 20px 0px 20px 30px; */
/* 	margin-left: 0px; */
/*     margin-bottom: 20px; */
/*     width: 100%; */
/* 	background-position: 50%; */
/* } */

/* .login a { */
/*     margin: 30px 40px 0px 40px; */
/*     padding: 10px 20px; */
/*     background: #1c9cd8; */
/*     display: block; */
/*     color: #fff; */
/*     text-decoration: none; */
/*     text-align: center; */
/* } */

.ButtonStyle {
	color: #125485;
	text-align: center;
	border-radius: 10px;
	margin: 3px;
	text-align: center;
}

.ButtonStyleSuche {
	color: #125485;
	margin: 3px;
	text-align: center;
}

.ButtonStyleKontaktliste {
	color: #125485;
	border-radius: 12px;
	text-align: center;
	margin: 3px;
}

.ButtonStyleKontakte {
	color: #125485;
	border-radius: 12px;
	text-align: center;
	margin: 3px;
}

.label {
	color: #5247b4;
	font-weight: bold;
	display: block;
	width: 150px;
	height: 30px;
	float: middle;
}

.gwt-Button {
	font-size: 150%;
	font-weight: bold;
	width: 100px;
	height: 50px;
}


.gwt-Big-Text {
	font-size: 150%;
}

.gwt-Small-Text {
	font-size: 75%;
}
