/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

html, body {
    width: 100%;
    height: 92%;
}

div {
	resize: both;
}
	
/*
 * Beginn des Logins
 */
 .eigenschaftRowStyle{
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
 }
 
 
.login {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: url('http://hintergrundbild.org/wallpaper/full/a/d/2/41863-vertical-blau-hintergrundbilder-1920x1200.jpg');
    display: block;
    padding: 200px 26% 20px 30%;
}

.login tbody {
    background: #fff;
    padding: 40px;
    display: block;
    box-shadow: 0px 0px 8px #999;
    
}

.login h7 {
	padding: 150px 60% 30px 20px;
}

.login a {
    margin: 30px 40px 0px 40px;
    padding: 10px 20px;
    background: #1c9cd8;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.login a:focus,
.login a:hover {
	background: #005f9d;
}

.login h8 {
		padding: 150px 60% 30px 20px;
		padding-left: 1%;
		}
/*
 * Ende des Logins
 */


/*
 * Beginn des Headers
 */
#top {
	cursor: default;
	display: flex;
	width: 100%;
	flex: 0 1 auto;
	justify-content: space-between;
	padding-right: 30px;
	box-sizing: border-box;
	background: #999 url('https://i.pinimg.com/originals/df/c3/09/dfc309dd3b5d8971c5425ea1f8a28f3d.jpg') no-repeat left 50%;
	background-size: cover;
	color: white;	
}

/** Das Nutzermenu setzt den Namen des Users und den Logout Link auf die untere Rechte Seite des Headers */
#nutzermenu {
	display: flex;
	width: 30%;
	justify-content: flex-end;
	padding-top: 60px;
	font-size:15px;
	font: 'Gotham';
	font-weight: 100px;
	font-style: oblique;
	letter-spacing: 1px;
}

#nutzermenu .gwt-HTML {
	padding:  0px;
	margin-left: 10px;
}

#nutzermenu p {
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}

#nutzermenu p a {
	margin-left: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #ffffff;
	border-left: 1px solid #666;
}
/*
 * Ende des Headers
 */
 
 
/*
 * Beginn des Navigators
 */
#navigator {

	height: 100%;
	float: left;
	background: #eeeeee;
	color: black;
	
}

/*
 * Ende des Navigators
 */
 
 
/*
 * Beginn des Contents
 */
#content {
	width: 77%;
	min-height: 550px;
	float: right;
	padding-left: 100px;
	padding-top: 20px;
	background: url(/images/sontactbackground.jpg) no-repeat left 93%;
	
}

/** Der contentHeader ist für die Überschriften innerhalb des Contents zuständig */
#contentHeader {
	font: 'Gotham';
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 4px;
	display: flex;
	align-items: left;
	justify-content: left;
	padding-bottom: 30px;
}

h9 {
	font: 'Gotham';
	font-size: 40px;
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 4px;
	display: flex;
	align-items: left;
	justify-content: left;
	padding-bottom: 30px;
}
/*
 * Ende des Contents
 */
 
 
/*
 * Beginn des Footers
 */
.footer {
	padding: 10px 0px;
	text-align: center;
	color: #666666;
	font-size: 80%;
	letter-spacing: 1px;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #999 url('http://mindchamps-medical.com/wp-content/uploads/2015/04/Abstract-Background-White.jpg') no-repeat left 50%;
	
}

#footer .gwt-HTML {
	color: #666666
}

#footer a {
	color: #1c9cd8;
	text-decoration: none;
}


/*
 * Ende des Footers
 */
 
 
/*
 * Beginn der Überschriften
 */

/** Hier wird das Logo und der Text: Sontact auf die linke Seite des Headers gesetzt */
h1 {
	font-weight: 400;
	font-size: 21px;
	width: 33%;
	background: url(/images/sontact2.png) no-repeat left 80%;
	background-size: contain;
	background-position-y: 4px;
	margin-left: 15px;
	color: white;
	font-family: sans-serif;
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 3px;
	padding-left: 64px;
}

h1 a {
	display: block;
	color: rgba(255, 255, 255, 0.0);
	padding: 20px 0px 20px 30px;
}

h2 {
	text-align: right;
}

/** Hier wird der Text SHARE YOUR CONTACTS im Header gestylt */
h3 {
	font-family: 'monospace';
	font-weight: 100;
	text-align: center;
	letter-spacing: 3px;
	font-size: 25px;
	font-style: oblique;
	border: 10px;
	padding-top: 20px;
	padding-left: 190px;
}

/** Hier wird der Text "Meine Kontaktlisten in der Navigation gestylt" */
h5 {
	font: roboto;
	font-weight: bold;
}

/** Logo für den Login */
h7 {
	background: url(/images/sontact2.png) no-repeat;

}

h7 a {
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}

h8 {
	font-family: gotham;
	color: black;
	letter-spacing: 5px;
	font-size: 34px;
}

h8 a {
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}
/*
 * Ende der Überschriften
 */
 
 
 
 
 /* #################### */

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.ueberschriftKlk{
	font: 'Gotham';
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 4px;
	display: flex;
	align-items: left;
	justify-content: left;
	padding-bottom: 30px;
}

.box {
	float: left;
	width: 30%;
	margin-right: 3.33333%;
	padding: 20px;
	background: #eee;
	box-sizing: border-box;
}

.ButtonStyle {
	color: #125485;
	text-align: center;
	border-radius: 10px;
	margin: 3px;
	text-align: center;
}

.ButtonStyleSuche {
	color: #125485;
	margin: 3px;
	text-align: center;
}

.ButtonStyleKontaktliste {
	color: #125485;
	border-radius: 12px;
	text-align: center;
	margin: 3px;
}

.ButtonStyleKontakte {
	color: #125485;
	border-radius: 12px;
	text-align: center;
	margin: 3px;
}

.label {
	color: #5247b4;
	font-weight: bold;
	display: block;
	width: 150px;
	height: 30px;
	float: middle;
}



.button1:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 5px;
    
}

.button1{
	 background-color: #e7efea;
    color: black;
    border: 2px solid #008CBA; /* Green */
    order-radius: 12px;
}
.button1{

    order-radius: 12px;
}

/*ButtonStyling - Anfang*/


.deleteNutzer{
	position: absolute;
	right: 18px;
    bottom: 400px;
    padding: 7px 9px;
}

.teilunsButtons{
	position: absolute;
    right: 18px;
    bottom: 537px;
    padding: 7px 31px;
    color: black;
}
	


.teilunsDeleteButton{
	position: absolute;
    right: 18px;
    bottom: 496px;
     padding: 7px 24.5px;
	color: black;
  
}

.bearbeitenButton{
	position: absolute;
	right: 18px;
    bottom: 620px;
    padding: 7px 16px;
    color: black; 
}

.infoloeschenButton{
	position: absolute;
	right: 18px;
    bottom: 578px;
    padding: 7px 19.5px;
    color: black;
 
}

.searchListBStyle{
     padding: 7px 20px;
  
}

.bearbeitenKlButton{
	position: absolute;
	right: 18px;
    bottom: 620px;
    padding: 7px 16px;
    color: black; 
}

.saveKlButton{
	position: absolute;
	right: 18px;
    bottom: 530px;
    padding: 7px 16px;
    color: black; 
}

.addKontaktKlButton{
	position: absolute;
	right: 10px;
    bottom: 490px;
    padding: 7px 16px;
    color: black; 
}

.teilunsKlButton{
	position: absolute;
    right: 18px;
    bottom: 536px;
     padding: 7px 30px;
	color: black; 
}

.teilunsDeleteKlButton{
	position: absolute;
    right: 18px;
    bottom: 495px;
     padding: 7px 24px;
	color: black; 
}

.addKontaktToKlButton{
	position: absolute;
    right: 18px;
    bottom: 453px;
     padding: 7px 14px;
	color: black; 
}

.deleteKontaktButton{
	position: absolute;
    right: 18px;
    bottom: 411px;
     padding: 7px 24px;
	color: black; 
}

.deleteKlButton{
	position: absolute;
    right: 18px;
    bottom: 578px;
     padding: 7px 24px;
	color: black; 
}

.regButton{
	position: absolute;
    left: 600px;
    bottom: 200px;
     padding: 5px 130px;
}

.eigeneEigButton{
	position: absolute;
    right: 18px;
    bottom: 581px;
     padding: 7px 15px;
}

.eigeneEigEntfernenButton{
	position: absolute;
    right: 18px;
    bottom: 540px;
     padding: 7px 33px;
}

.bearbeitungKSave{
	position: absolute;
    right: 18px;
    bottom: 620px;
     padding: 7px 40px;
}

.bearbeitungK{
	position: absolute;
    left: 400px;
    bottom: 20px;
     padding: 7px 40px;
}

.cancelKButton{
	position: absolute;
    right: 18px;
    bottom: 500px;
     padding: 7px 36px;
}

.infoLabel{
	position: absolute;
    right: 6px;
    bottom: 660px;
     padding: 7px 24px;
}

.cancelKontaktlButton{
	position: absolute;
    right: 18px;
    bottom: 578px;
     padding: 7px 38px;
}
/*Bild position*/

.sadPic{
	position: absolute;
	right: 500px;
    bottom: 100px;

}

.infoTable{
	margin: 30px 10px;
	
}

.eigeneEigTable{
	margin: 15px;
	right: 10px;
	bottom: 100px;
}

.label{
	margin: 5px;
	font-size: 15px;
	
}

.labelD{
	border-style: dotted;
    border-width: 2px;
    border-radius: 4px;
    margin: 5px;
	
}

.labelModDat{
	
	font-size: 15px;
	left: 400px;
	
}

.labelModPanel{
	margin-left: 20px;
	font-size: 18px;
	
}

.labelOwnerPanel{
	margin-left: 100px;
	font-size: 17px;
	
}

.labelReg{
	margin: 4px;
	font-size: 13px;
	color: #1b85ea;
}

.tbRundungReg{
	border-radius: 15px;
	 width: 250px;
}

.tbRundung{
	border-radius: 15px;
}

.tbRundung2{
	border-radius: 15px;
	margin: 15px;
	bottom: 20px;
}

.search{
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 19px;
	margin-left: 35px;
}
.searchBtn{
	border-radius: 15px;
	margin-right: 4px;
	margin-bottom: 22px;
	color: #5997ff;
	margin-left: 35px;
}

.searchTb{
	 width: 400px;
	 margin-right: 10px;
	 border-radius: 15px;
}

.khunzufuegenKl{
	position: absolute;
    right: 18px;
    bottom: 620px;
     padding: 7px 40px;
}

.khunzufuegenKlAbbbruch{
	position: absolute;
    right: 18px;
    bottom: 580px;
     padding: 7px 40.5px;
}


/*Styling MessageBox*/

.messageBox{
    width: 555px;
    height: 165px;
    border: 2px solid blue;
    padding: 25px;
    margin: 25px;
    background: url(/images/sontactmessage2.png) no-repeat left 100%;
    border-radius: 30px;
}

.messageBoxKl{
    width: 555px;
    height: 165px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;
    background: url(/images/sontactsharekontaktliste.png) no-repeat left 100%;
    border-radius: 30px;
}
.standardMessageBox{
    width: 555px;
    height: 165px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;
    background: url(/images/sontactmessage1.png) no-repeat left 100%;
    border-radius: 30px;
}

.textbMessage{
	position: absolute;
	border-radius: 15px;
	right: 54px;
	bottom: 80px;
}

.messageButtonshare{
	position: absolute;
	right: 70px;
	bottom: 122px;
    border-radius: 15px;
}

.messageButtonshare1{
	position: absolute;
	right: 120px;
	bottom: 120px;
    border-radius: 15px;
}

.messageButtonshareDel{
	position: absolute;
	right: 80px;
	bottom: 122px;
    border-radius: 15px;
}


.messageButtonStandard{
	position: absolute;
	right: 30px;
	bottom: 110px;
    border-radius: 15px;
}

.label1{
	margin: 5px;
	font-size: 15px;
	color: #f1f9ff;
}






