/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */


/*
 * Allgemeine Regeln für die Seitenrichtlinien
 */


* {
	margin: 0;
	margin-right: 15px;
	padding: 0;
	font-family:sans-serif;
}

html,body {
	height: 100%;	
}

/*
 * Beginn des Logins
 */
.login {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: url('http://hintergrundbild.org/wallpaper/full/a/d/2/41863-vertical-blau-hintergrundbilder-1920x1200.jpg');
    display: block;
    padding: 200px 26% 20px 30%;
}

.login tbody {
    background: #fff;
    padding: 40px;
    display: block;
    box-shadow: 0px 0px 8px #999;
    
}

.login h7 {
	padding: 150px 60% 30px 20px;
}

.login a {
    margin: 30px 40px 0px 40px;
    padding: 10px 20px;
    background: #1c9cd8;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.login a:focus,
.login a:hover {
	background: #005f9d;
}

.login h9 {
		padding: 150px 60% 30px 20px;
		padding-left: 1%;
		}
/*
 * Ende des Logins
 */

#topR {
	cursor: default;
	display: flex;
	width: 100%;
	height: 12%;
	flex: 0 1 auto;
	justify-content: space-between;
	padding-right: 30px;
	box-sizing: border-box;
	background: #999 url('https://i.pinimg.com/originals/df/c3/09/dfc309dd3b5d8971c5425ea1f8a28f3d.jpg') no-repeat left 50%;
	background-size: cover;	
	color: white;
}

#nutzermenuR {
	display: flex;
	width: 30%;
	justify-content: flex-end;
	
}

#nutzermenuR .gwt-HTML {
	padding: 20px 0px;
}

#nutzermenuR p {
	width: 100%;
	font-size: 16px;
	text-align: right;
	cursor: pointer;
}

#nutzermenuR p a {
	margin-left: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #666;
	border-left: 1px solid #666;
}

h4 {
	background:  url(/images/sontact2.png) no-repeat left 150%;
	font-size: 20px;
	width: 85%;
	background-size: contain;
	margin-left: 200px;
	color: blau;
	font: 'Gotham' center 50% ; 
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 2px;
	height:auto;
	
}



h1 a {

	display: block;
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}

h1 {
	font-size: 21px;
    width: 33%;
    background: url(/images/sontact2.png) no-repeat left 80%;
    background-size: 10%;
    margin-left: 15px;
    color: white;
    font: 'Gotham';
    font-weight: lighter !important;
    font-variant: small-caps;
    letter-spacing: 3px;
    padding-left: 59px;
    padding-top: 12px;
}

h3 {
	
	width: 55%;
	background: url(/images/sontact2.png) no-repeat left 80%;
	background-size: contain;

	color: black;

	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 2px;
	margin: 15px;
	margin-top: 15px;
	font-family:sans-serif;
}

h8 {
	font-weight: 400;
	font-size: 22px;
	width: 19%;
	background: url(/images/sontact2.png) no-repeat left 80%;
	background-size: contain;

	color: black;
	font:'Gotham';
	font-weight: lighter !important;
	font-variant: small-caps;
	letter-spacing: 4px;
	margin: 7px
}

/** Logo für den Login */
h7 {
	background: url(/images/sontact2.png) no-repeat;

}

h7 a {
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}

h9 {
	font-family: gotham;
	color: black;
	letter-spacing: 5px;
	font-size: 34px;	
}

h9 a {
	color: rgba(255,255,255,0.0);
	padding: 20px 0px 20px 30px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}


#headerR {
	
	color: white;
	letter-spacing: 10px;
	text-align: left;
	float: left;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family:sans-serif;
}

.box {
	float: left;
	width: 30%;
	margin-right: 3.33333%;
	padding: 20px;
	background: #eee;
	box-sizing: border-box;
}

#contentR {
    margin: 0px auto;
    width: 77%;
    padding: 10px;
    padding-left: 100px;
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
    min-height: 550px;
    float: right;
    font-family:sans-serif;
}

#navigatorR {
    float: left;
    background-size: cover;
    background: white;
    min-height: 1000px;
    overflow: auto;
    position: relative;
    zoom: 1;
    width: 223px;
    height: 550px;
    margin-top: 5px;
    margin-top: 5px;
    margin-left: 8px;
}

#footerR {
    padding: 10px 0px;
    text-align: center;
    color: #777;
    font-size: 80%;
    width: 100%;
   	display: flex;
   	justify-content: center;
    background: #999 url('http://mindchamps-medical.com/wp-content/uploads/2015/04/Abstract-Background-White.jpg') no-repeat left 50%;
	font-family:sans-serif;
	position: fixed;
	left: 0px;
  	bottom: 0px;
}

#footerR .gwt-HTML {
	margin: 0px 5px;
}

#footerR a {
    color: #1c9cd8;
    text-decoration: none;

}


.ButtonStyle {
    color: darkslateblue;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
    background: whitesmoke;
}

.ButtonStyleSuche {
	color: #125485;
	margin: 3px;
	text-align: center;
}

.ButtonStyleKontaktliste {
	color: #125485;
	border-radius: 12px;
	text-align: center;
	margin: 3px;
}

.ButtonStyleKontakte {
	color: #125485;
	border-radius: 12px;
	text-align: center;
	margin: 3px;
}	

.reportgenerator td {
	padding: 10px;
	
}

.reportgenerator table {
	padding: 10px;
}