<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>editorServlet</servlet-name>
    <servlet-class>de.hdm.itprojektss18.team01.sontact.server.EditorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>editorServlet</servlet-name>
    <url-pattern>/sontact/editor</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>de.hdm.itprojektss18.team01.sontact.server.ReportGeneratorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/sontact/report</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>de.hdm.itprojektss18.team01.sontact.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/sontact/login</url-pattern>
  </servlet-mapping>


  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Sontact.html</welcome-file>
    <welcome-file>SontactReport.html</welcome-file>
  </welcome-file-list>

</web-app>
